@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.upload {
  &__form {
    padding: 0 1rem;
    border-top: 1px solid $Border-Color;
    @include tablet {
      padding: 0 2.25rem;
    }
    @include desktop {
      padding: 0 80px;
    }
  }

  &__container {
    @include desktop {
      max-width: 1120px;
      margin: 0 auto;
    }
  }

  &__big-wrap {
    @include desktop {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    @include desktop {
      width: 100%;
    }
  }

  &__thumbnail-infor {
    @include desktop {
      padding-bottom: 1.2rem;
    }
  }

  &__thumbnail {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 325px;
    }
  }

  &__heading {
    padding-top: 1.5rem;
    margin-top: 0;
    @include tablet {
      padding-top: 2.25rem;
      padding-bottom: 1.5rem;
      margin: 0;
      border-bottom: 1px solid $Border-Color;
    }
  }

  &__text {
    text-transform: uppercase;
    color: $Silver-Text-Color;
    font-weight: 600;
    margin: 0;
    @include tablet {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__title-input,
  &__descript-input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.625rem;
  }

  &__title-input {
    @include tablet {
      margin-bottom: 0;
    }
  }

  &__descript-input {
    height: 110px;
    margin-bottom: 1.5rem;
    @include tablet {
      height: 80px;
    }
  }

  &__title-input--error,
  &__descript-input--error {
    &:focus {
      border: 2px solid red;
    }
  }

  &__ending {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: flex-end;
      gap: 1.5rem;
      border-top: 1px solid $Border-Color;
      padding: 1.5rem 0;
    }
  }

  &__cancel {
    color: $Button-Color;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem 0;
    border: none;
    background-color: $Button-Text-Color;
    cursor: pointer;
    @include tablet {
      width: auto;
      order: -1;
      margin: 0;
      padding: 0;
    }
  }
}
