@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.main-video {
  @include tablet {
    background-color: $BrainFlix-DarkBlack;
    padding: 0 2.25rem;
    height: 70vh;
  }
  @include desktop {
    padding: 0 12.5rem;
    height: 67vh;
  }
}

.main-video__container {
  height: 60vh;
  @include tablet {
    height: 70vh;
  }
  @include desktop {
    max-width: 880px;
    margin: 0 auto;
    height: 67vh;
  }
}

.main-video__clip {
  width: 100%;
  object-fit: cover;
  height: 60vh;
  @include tablet {
    height: 70vh;
  }
  @include desktop {
    height: 67vh;
    max-width: 880px;
  }
}
