@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.main-video {
  width: 100%;
  object-fit: cover;
  height: 60vh;
  @include tablet {
    height: 70vh;
    background-color: $BrainFlix-DarkBlack;
    padding: 0 2.25rem;
  }
  @include desktop {
    padding: 0 6rem;
    height: 80vh;
  }
}
