@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
//MAKE THE VIDEO LIST THE BE SIDE BY SIDE WITH THE DIV OF CONVERSATION AND MAIN VIDEO INFOR SECTION IN THE DESKTOP BREAKPOINT
.page {
  &-container {
    @include desktop {
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  &-flex {
    @include desktop {
      display: flex;
      margin: 0 auto;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  &-box {
    @include desktop {
      border-right: 1px solid $Mercury;
    }
  }
}
