//SETTING THE VARIABLES FOR THE TABLET AND DESKTOP WIDTHS
$tablet-width: 768px;
$desktop-width: 1280px;
//SETTING THE VARIABLES FOR COLORS
$Button-Color: #0095ff;
$Button-Color-Hover: #0065ad;
$Button-Text-Color: #ffffff;
$Border-Color: #e1e1e1;
$Silver-Text-Color: #afafaf;
$Input-Box-Background-Color: #fafafa;
$DarkBlack: #000000;
$Black: #323232;
