@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.logo {
  margin-bottom: 1rem;
  @include tablet {
    padding-top: 0.4rem;
    margin-bottom: 0;
    margin-right: auto;
  }
}
