@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.next-video__item {
  display: flex;
  gap: 1rem;
  width: 27rem;
  padding-bottom: 1rem;
}

.next-video__title {
  font-weight: bold;
  margin-top: 0;
}

.next-video__img {
  width: 9rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 4px;
  background-color: $Mercury;
}

.next-video__wrap {
  width: 100%;
  max-width: 160px;
}
