@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

//Dp we need to use @use

.header {
  padding: 1rem;
  @include tablet {
    padding: 1.5rem 2.25rem;
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
  }
}

.header__wrap {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  gap: 1rem;
  @include tablet {
    margin-bottom: 0;
    width: 270px;
    margin-right: 1.5rem;
  }
}

.header__input {
  width: 100%;
  outline: none;
  background-image: url("../../assets/Images/Icons/search.svg");
  background-size: 1rem;
  background-position: 1rem;
  background-repeat: no-repeat;
  padding: 0.5rem 3rem;
  border: 1px solid $Mercury;
  border-radius: 4px;
  height: 40px;
  &::placeholder {
    color: $BrainFlix-Black;
  }
}

.logo {
  margin-bottom: 1rem;
  @include tablet {
    margin-bottom: 0;
    margin-right: auto;
  }
}
