@use "./styles/partials/variables" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;

* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  @include tablet {
    font-size: 2.0625rem;
    line-height: 2.75rem;
    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
  }
}

h2 {
  @extend button;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  @include tablet {
    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
  }
}

h3 {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
  }
}

button {
  font-family: "Avenir Next";
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}

a:link,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: black;
}

.input {
  font-family: "Avenir Next";
  outline: none;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-color: $Input-Box-Background-Color;
  border: 1px solid $Border-Color;
  height: 40px;
  resize: none;
  overflow: hidden;
  &:focus {
    border: 2px solid $Button-Color;
  }
  &::placeholder {
    color: $Black;
  }
}
