@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.conversation {
  &__comment-item {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid $Border-Color;
    padding: 1rem 0;
    @include tablet {
      gap: 1.5rem;
      padding: 1.5rem 0;
    }
    @include desktop {
      gap: 2.25rem;
      padding: 1.5rem;
      border-top: 1px solid $Border-Color;
      border-bottom: none;
    }
  }

  &__comment-infor {
    width: 100%;
  }

  &__comment-name {
    font-weight: bold;
    margin: 0;
  }

  &__comment-text {
    margin-bottom: 0;
    margin-top: 1rem;
  }

  &__comment-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__comment-time {
    margin: 0;
    color: $Silver-Text-Color;
  }

  &__comment-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  &__comment-btn {
    border: none;
    background-color: $Black;
    color: $Button-Text-Color;
    padding: 0.3rem;
    border-radius: 4px;
    width: 50px;
    height: 30px;
    &:hover {
      transform: scale(1.2);
    }
  }
}
